<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ach_select0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{53,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{53,53}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>ach_select1.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,2},{53,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{53,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>ach_select10.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{53,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{53,53}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>ach_select2.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{53,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{53,53}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>ach_select3.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{53,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{53,53}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>ach_select4.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,2},{53,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{53,53}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>ach_select5.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{53,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{53,53}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>ach_select6.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,2},{55,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{55,53}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>ach_select7.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{53,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{53,53}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>ach_select8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{53,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{53,53}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>ach_select9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{53,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{53,53}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>choose_heroRange.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,59},{274,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{274,123}}</string>
                <key>sourceSize</key>
                <string>{288,129}</string>
            </dict>
            <key>gamebg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,59},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>gamebg04.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,59},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>gamebg06.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,59},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>hero_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,59},{47,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,45}}</string>
                <key>sourceSize</key>
                <string>{47,45}</string>
            </dict>
            <key>hero_fram.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{259,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,50}}</string>
                <key>sourceSize</key>
                <string>{259,50}</string>
            </dict>
            <key>play_heros.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,184},{166,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,31},{166,67}}</string>
                <key>sourceSize</key>
                <string>{288,129}</string>
            </dict>
            <key>player_hero_fram.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,253},{155,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,0},{155,50}}</string>
                <key>sourceSize</key>
                <string>{259,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chooseHeros.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:537d6343af08a9fc958b58c6238e60b1$</string>
            <key>textureFileName</key>
            <string>chooseHeros.png</string>
        </dict>
    </dict>
</plist>
