<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cancelDefault.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,25}}</string>
                <key>sourceSize</key>
                <string>{80,25}</string>
            </dict>
            <key>cancelHited.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{80,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,25}}</string>
                <key>sourceSize</key>
                <string>{80,25}</string>
            </dict>
            <key>cancelUnable.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{80,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,25}}</string>
                <key>sourceSize</key>
                <string>{80,25}</string>
            </dict>
            <key>death.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,29},{74,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{74,18}}</string>
                <key>sourceSize</key>
                <string>{80,20}</string>
            </dict>
            <key>discardDefault.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,29},{80,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,25}}</string>
                <key>sourceSize</key>
                <string>{80,25}</string>
            </dict>
            <key>discardHited.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,29},{80,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,25}}</string>
                <key>sourceSize</key>
                <string>{80,25}</string>
            </dict>
            <key>discardPhase.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{74,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{74,18}}</string>
                <key>sourceSize</key>
                <string>{80,20}</string>
            </dict>
            <key>discardUnable.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,56},{80,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,25}}</string>
                <key>sourceSize</key>
                <string>{80,25}</string>
            </dict>
            <key>drawCardPhase.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,56},{76,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{76,18}}</string>
                <key>sourceSize</key>
                <string>{80,20}</string>
            </dict>
            <key>endPhase.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{74,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{74,18}}</string>
                <key>sourceSize</key>
                <string>{80,20}</string>
            </dict>
            <key>judgePhase.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,83},{76,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{76,18}}</string>
                <key>sourceSize</key>
                <string>{80,20}</string>
            </dict>
            <key>playCardPhase.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,83},{74,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{74,18}}</string>
                <key>sourceSize</key>
                <string>{80,20}</string>
            </dict>
            <key>response.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{38,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,1},{38,18}}</string>
                <key>sourceSize</key>
                <string>{80,20}</string>
            </dict>
            <key>startPhase.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,103},{74,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{74,18}}</string>
                <key>sourceSize</key>
                <string>{80,20}</string>
            </dict>
            <key>sureDefault.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,103},{80,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,25}}</string>
                <key>sourceSize</key>
                <string>{80,25}</string>
            </dict>
            <key>sureHited.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{80,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,25}}</string>
                <key>sourceSize</key>
                <string>{80,25}</string>
            </dict>
            <key>sureUnable.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,130},{80,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,25}}</string>
                <key>sourceSize</key>
                <string>{80,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gamePhase.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8b9617c293f54394de57a9648fa0744$</string>
            <key>textureFileName</key>
            <string>gamePhase.png</string>
        </dict>
    </dict>
</plist>
