<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>arrowBarrage.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,2},{52,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,72}}</string>
                <key>sourceSize</key>
                <string>{52,72}</string>
            </dict>
            <key>barbarianInvasion.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{52,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,72}}</string>
                <key>sourceSize</key>
                <string>{52,72}</string>
            </dict>
            <key>blackPommel.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{52,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,72}}</string>
                <key>sourceSize</key>
                <string>{52,72}</string>
            </dict>
            <key>blba.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{52,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,72}}</string>
                <key>sourceSize</key>
                <string>{52,72}</string>
            </dict>
            <key>borrowedSword.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{52,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,72}}</string>
                <key>sourceSize</key>
                <string>{52,72}</string>
            </dict>
            <key>bountifulHarvest.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{52,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,72}}</string>
                <key>sourceSize</key>
                <string>{52,72}</string>
            </dict>
            <key>cardBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{52,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,72}}</string>
                <key>sourceSize</key>
                <string>{52,72}</string>
            </dict>
            <key>chuKoNu.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{52,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,72}}</string>
                <key>sourceSize</key>
                <string>{52,72}</string>
            </dict>
            <key>clawFly.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{52,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,72}}</string>
                <key>sourceSize</key>
                <string>{52,72}</string>
            </dict>
            <key>contentment.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{52,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,72}}</string>
                <key>sourceSize</key>
                <string>{52,72}</string>
            </dict>
            <key>dismantle.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,76},{52,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,72}}</string>
                <key>sourceSize</key>
                <string>{52,72}</string>
            </dict>
            <key>dogde.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,76},{52,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,72}}</string>
                <key>sourceSize</key>
                <string>{52,72}</string>
            </dict>
            <key>duel.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,76},{52,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,72}}</string>
                <key>sourceSize</key>
                <string>{52,72}</string>
            </dict>
            <key>eightDiagramFormation.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,76},{52,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,72}}</string>
                <key>sourceSize</key>
                <string>{52,72}</string>
            </dict>
            <key>eighteenSpanViperSpear.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,76},{52,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,72}}</string>
                <key>sourceSize</key>
                <string>{52,72}</string>
            </dict>
            <key>frostSword.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,76},{52,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,72}}</string>
                <key>sourceSize</key>
                <string>{52,72}</string>
            </dict>
            <key>greenDragonCrescentBlade.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,76},{52,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,72}}</string>
                <key>sourceSize</key>
                <string>{52,72}</string>
            </dict>
            <key>heavenlyDoubleHalberd.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,76},{52,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,72}}</string>
                <key>sourceSize</key>
                <string>{52,72}</string>
            </dict>
            <key>lighting.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{52,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,72}}</string>
                <key>sourceSize</key>
                <string>{52,72}</string>
            </dict>
            <key>luma.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,150},{52,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,72}}</string>
                <key>sourceSize</key>
                <string>{52,72}</string>
            </dict>
            <key>peach.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,150},{52,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,72}}</string>
                <key>sourceSize</key>
                <string>{52,72}</string>
            </dict>
            <key>peachGarden.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,150},{52,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,72}}</string>
                <key>sourceSize</key>
                <string>{52,72}</string>
            </dict>
            <key>plum.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,150},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>purpleXing.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,150},{52,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,72}}</string>
                <key>sourceSize</key>
                <string>{52,72}</string>
            </dict>
            <key>qilinBow.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,150},{52,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,72}}</string>
                <key>sourceSize</key>
                <string>{52,72}</string>
            </dict>
            <key>redHare.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,150},{52,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,72}}</string>
                <key>sourceSize</key>
                <string>{52,72}</string>
            </dict>
            <key>redPeach.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,150},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>sageKingShield.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,150},{52,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,72}}</string>
                <key>sourceSize</key>
                <string>{52,72}</string>
            </dict>
            <key>shadowrunner.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{52,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,72}}</string>
                <key>sourceSize</key>
                <string>{52,72}</string>
            </dict>
            <key>snatch.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,224},{52,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,72}}</string>
                <key>sourceSize</key>
                <string>{52,72}</string>
            </dict>
            <key>somethingForNothing.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,224},{52,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,72}}</string>
                <key>sourceSize</key>
                <string>{52,72}</string>
            </dict>
            <key>squarePiece.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,224},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>stonePiercingAxe.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,224},{52,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,72}}</string>
                <key>sourceSize</key>
                <string>{52,72}</string>
            </dict>
            <key>strike.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,224},{52,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,72}}</string>
                <key>sourceSize</key>
                <string>{52,72}</string>
            </dict>
            <key>ward.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,224},{52,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,72}}</string>
                <key>sourceSize</key>
                <string>{52,72}</string>
            </dict>
            <key>yinYangSwords.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,224},{52,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,72}}</string>
                <key>sourceSize</key>
                <string>{52,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameCard.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba5711a5bf220b1147f3a280369e3195$</string>
            <key>textureFileName</key>
            <string>gameCard.png</string>
        </dict>
    </dict>
</plist>
