<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,266},{67,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,42}}</string>
                <key>sourceSize</key>
                <string>{67,42}</string>
            </dict>
            <key>head10.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,2},{67,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,42}}</string>
                <key>sourceSize</key>
                <string>{67,42}</string>
            </dict>
            <key>head11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{67,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,42}}</string>
                <key>sourceSize</key>
                <string>{67,42}</string>
            </dict>
            <key>head12.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{67,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,42}}</string>
                <key>sourceSize</key>
                <string>{67,42}</string>
            </dict>
            <key>head13.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,178},{67,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,42}}</string>
                <key>sourceSize</key>
                <string>{67,42}</string>
            </dict>
            <key>head14.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,134},{67,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,42}}</string>
                <key>sourceSize</key>
                <string>{67,42}</string>
            </dict>
            <key>head15.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,46},{67,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,42}}</string>
                <key>sourceSize</key>
                <string>{67,42}</string>
            </dict>
            <key>head16.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,134},{67,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,42}}</string>
                <key>sourceSize</key>
                <string>{67,42}</string>
            </dict>
            <key>head17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{67,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,42}}</string>
                <key>sourceSize</key>
                <string>{67,42}</string>
            </dict>
            <key>head18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{66,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,42}}</string>
                <key>sourceSize</key>
                <string>{66,42}</string>
            </dict>
            <key>head19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{67,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,42}}</string>
                <key>sourceSize</key>
                <string>{67,42}</string>
            </dict>
            <key>head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,90},{67,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,42}}</string>
                <key>sourceSize</key>
                <string>{67,42}</string>
            </dict>
            <key>head20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{67,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,42}}</string>
                <key>sourceSize</key>
                <string>{67,42}</string>
            </dict>
            <key>head21.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,90},{67,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,42}}</string>
                <key>sourceSize</key>
                <string>{67,42}</string>
            </dict>
            <key>head22.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,46},{67,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,42}}</string>
                <key>sourceSize</key>
                <string>{67,42}</string>
            </dict>
            <key>head23.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,354},{67,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,42}}</string>
                <key>sourceSize</key>
                <string>{67,42}</string>
            </dict>
            <key>head24.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,222},{67,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,42}}</string>
                <key>sourceSize</key>
                <string>{67,42}</string>
            </dict>
            <key>head25.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,266},{67,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,42}}</string>
                <key>sourceSize</key>
                <string>{67,42}</string>
            </dict>
            <key>head3.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,222},{67,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,42}}</string>
                <key>sourceSize</key>
                <string>{67,42}</string>
            </dict>
            <key>head4.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,178},{67,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,42}}</string>
                <key>sourceSize</key>
                <string>{67,42}</string>
            </dict>
            <key>head5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{67,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,42}}</string>
                <key>sourceSize</key>
                <string>{67,42}</string>
            </dict>
            <key>head6.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,310},{67,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,42}}</string>
                <key>sourceSize</key>
                <string>{67,42}</string>
            </dict>
            <key>head7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{67,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,42}}</string>
                <key>sourceSize</key>
                <string>{67,42}</string>
            </dict>
            <key>head8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{67,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,42}}</string>
                <key>sourceSize</key>
                <string>{67,42}</string>
            </dict>
            <key>head9.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,310},{67,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,42}}</string>
                <key>sourceSize</key>
                <string>{67,42}</string>
            </dict>
            <key>head_selected_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,454},{77,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{77,54}}</string>
                <key>sourceSize</key>
                <string>{79,54}</string>
            </dict>
            <key>head_selected_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,454},{77,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{77,52}}</string>
                <key>sourceSize</key>
                <string>{79,54}</string>
            </dict>
            <key>head_selected_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{79,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{79,52}}</string>
                <key>sourceSize</key>
                <string>{79,54}</string>
            </dict>
            <key>head_selected_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{79,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{79,52}}</string>
                <key>sourceSize</key>
                <string>{79,54}</string>
            </dict>
            <key>head_selected_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,400},{77,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{77,52}}</string>
                <key>sourceSize</key>
                <string>{79,54}</string>
            </dict>
            <key>head_selected_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,400},{77,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{77,52}}</string>
                <key>sourceSize</key>
                <string>{79,54}</string>
            </dict>
            <key>headfram.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,354},{69,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,44}}</string>
                <key>sourceSize</key>
                <string>{69,44}</string>
            </dict>
            <key>small1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{14,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,17}}</string>
                <key>sourceSize</key>
                <string>{14,17}</string>
            </dict>
            <key>small3.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,2},{14,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,17}}</string>
                <key>sourceSize</key>
                <string>{14,17}</string>
            </dict>
            <key>small5.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,2},{14,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,17}}</string>
                <key>sourceSize</key>
                <string>{14,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>standard_hero_head2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f604124f3969cb863864e3b5c7223b42$</string>
            <key>textureFileName</key>
            <string>standard_hero_head2.png</string>
        </dict>
    </dict>
</plist>
