<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>9001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,45}}</string>
                <key>sourceSize</key>
                <string>{47,45}</string>
            </dict>
            <key>9002.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,2},{47,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,45}}</string>
                <key>sourceSize</key>
                <string>{47,45}</string>
            </dict>
            <key>9003.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{47,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,45}}</string>
                <key>sourceSize</key>
                <string>{47,45}</string>
            </dict>
            <key>9004.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{47,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,45}}</string>
                <key>sourceSize</key>
                <string>{47,45}</string>
            </dict>
            <key>9005.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{47,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,45}}</string>
                <key>sourceSize</key>
                <string>{47,45}</string>
            </dict>
            <key>9006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,49},{47,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,45}}</string>
                <key>sourceSize</key>
                <string>{47,45}</string>
            </dict>
            <key>9007.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,49},{47,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,45}}</string>
                <key>sourceSize</key>
                <string>{47,45}</string>
            </dict>
            <key>9008.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,49},{47,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,45}}</string>
                <key>sourceSize</key>
                <string>{47,45}</string>
            </dict>
            <key>9009.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,49},{47,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,45}}</string>
                <key>sourceSize</key>
                <string>{47,45}</string>
            </dict>
            <key>9010.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,49},{47,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,45}}</string>
                <key>sourceSize</key>
                <string>{47,45}</string>
            </dict>
            <key>9011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{47,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,45}}</string>
                <key>sourceSize</key>
                <string>{47,45}</string>
            </dict>
            <key>9012.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,96},{47,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,45}}</string>
                <key>sourceSize</key>
                <string>{47,45}</string>
            </dict>
            <key>9013.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,96},{47,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,45}}</string>
                <key>sourceSize</key>
                <string>{47,45}</string>
            </dict>
            <key>9014.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,96},{47,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,45}}</string>
                <key>sourceSize</key>
                <string>{47,45}</string>
            </dict>
            <key>9015.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,96},{47,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,45}}</string>
                <key>sourceSize</key>
                <string>{47,45}</string>
            </dict>
            <key>9016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{47,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,45}}</string>
                <key>sourceSize</key>
                <string>{47,45}</string>
            </dict>
            <key>9017.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,143},{47,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,45}}</string>
                <key>sourceSize</key>
                <string>{47,45}</string>
            </dict>
            <key>9018.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,143},{47,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,45}}</string>
                <key>sourceSize</key>
                <string>{47,45}</string>
            </dict>
            <key>9019.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,143},{47,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,45}}</string>
                <key>sourceSize</key>
                <string>{47,45}</string>
            </dict>
            <key>9020.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,143},{47,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,45}}</string>
                <key>sourceSize</key>
                <string>{47,45}</string>
            </dict>
            <key>9021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{47,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,45}}</string>
                <key>sourceSize</key>
                <string>{47,45}</string>
            </dict>
            <key>9022.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,190},{47,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,45}}</string>
                <key>sourceSize</key>
                <string>{47,45}</string>
            </dict>
            <key>9023.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,190},{47,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,45}}</string>
                <key>sourceSize</key>
                <string>{47,45}</string>
            </dict>
            <key>9024.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,190},{47,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,45}}</string>
                <key>sourceSize</key>
                <string>{47,45}</string>
            </dict>
            <key>9025.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,190},{47,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,45}}</string>
                <key>sourceSize</key>
                <string>{47,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>standard_hero_head.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ecd9db427617898fec5c8d7e2fab3af$</string>
            <key>textureFileName</key>
            <string>standard_hero_head.png</string>
        </dict>
    </dict>
</plist>
